
[dir="rtl"] .header .header-container {
    flex-direction: row-reverse;
}
[dir="rtl"] .header .logo {
    order: 1;
}
[dir="rtl"] .header .navmenu {
    order: 2;
}
[dir="rtl"] .header .btn-getstarted {
    order: 3;
    margin-left: 0;
    margin-right: 30px;
}
[dir="rtl"] .navmenu > ul {
    justify-content: flex-start;
}
[dir="rtl"] .navmenu a i {
    margin-left: 0;
    margin-right: 5px;
}
@media (max-width: 1199px) {
    [dir="rtl"] .mobile-nav-toggle {
        left: 15px;
        right: auto;
    }
    [dir="rtl"] .navmenu ul {
        inset: 60px 20px 20px auto;
        right: 0;
        left: auto;
    }
}
